* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.image-left {
  flex: 1;
}

.top-area, .side-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top-area {
  order: -1;
  padding: 1.5rem;
  background-color: #f8f8f8;
  font-size: 1rem;
  line-height: 1.5;
}

.side-form {
  background-color: #fafafa;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.0rem;
}
