* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.top-area, .side-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.image-left {
  flex: 1;
}

.side-form {
  background-color: #fafafa;
}

.form-field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.0rem;
}
